<% title "Post" %>

<h2><%= @post.title %></h2>

<p>
  Quality: <%= rating_for @post, "quality" %>
</p>

<p>
  <% if policy(@post).edit? %>
    <%= link_to "Edit", edit_post_path(@post) %> |
  <% end %>

  <% if policy(@post).destroy? %>
    <%= link_to "Destroy", @post, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>

  <%= link_to "View All", posts_path %>
</p>

<p><%= @post.body %></p>
