<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <% if user_signed_in? %>
        <p>You are signed in as <strong><%= current_user.email %></strong></p>
      <% end %>

      <%= link_to("Sign out",
                  destroy_user_session_url,
                  :method => :delete,
                  :id => 'logout') if user_signed_in? %>

      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
